  <div class="row-1">
    <div class="label-res-kaihei" (click)="clickResMenuKaihei()">
      <h4 class="label-res-id-num" (dblclick)="item.isFiltered ? selectedNumHandler() : false"
        [ngStyle]="{'color': item.anchorCount >= noticeCount ? '#f00' : '#000'}">{{item.num}}</h4>
      <h4 class="label-res-cal1" [ngStyle]="{'color': item.idTotal >= idRed ? '#f00' : '#000'}">({{item.idNum}}/{{item.idTotal}})</h4>
    </div>
    <label class="radio-container select-label" [ngStyle]="{'background-color': leftHightlight? item.idBackgroundColor : 'transparent', 
        'color': leftHightlight? item.idColor : '#464646'}">
      <input type="radio" name="res-select-{{tabIndex}}-{{resIndex}}"
             [ngStyle]="{'border-color': leftHightlight? item.idColor : '#464646'}"
             [(ngModel)]="item.resSelect" value="select" (click)="selectClickHandler()">選択</label>
    <label class="radio-container select-label" [ngStyle]="{'background-color': leftHightlight? item.idBackgroundColor : 'transparent',
        'color': leftHightlight? item.idColor : '#464646'}">
      <input type="radio" name="res-select-{{tabIndex}}-{{resIndex}}"
             [ngStyle]="{'border-color': leftHightlight? item.idColor : '#464646'}"
             [(ngModel)]="item.resSelect" value="candi1" (click)="candi1ClickHandler()">予1</label>
    <label class="radio-container select-label" [ngStyle]="{'background-color': leftHightlight? item.idBackgroundColor : 'transparent',
        'color': leftHightlight? item.idColor : '#464646'}">
      <input type="radio" name="res-select-{{tabIndex}}-{{resIndex}}"
             [ngStyle]="{'border-color': leftHightlight? item.idColor : '#464646'}"
             [(ngModel)]="item.resSelect" value="candi2" (click)="candi2ClickHandler()">予2</label>
    <h4 class="label-res-name" [innerHTML]="item.name | safeHtml"></h4>
    <h4 class="res-date">{{item.date}}</h4>
    <h4 class="label-res-id" [ngStyle]="{'background-color': item.idBackgroundColor, 'color': item.idColor}">ID:</h4>
    <h4 class="res-id" [ngStyle]="{'background-color': item.idBackgroundColor, 'color': item.idColor}" [innerHTML]="item.id | safeHtml"></h4>
    <h4 class="label-res-cal1" [ngStyle]="{'color': item.idTotal >= idRed ? '#f00' : '#000'}">({{item.idNum}}/{{item.idTotal}})</h4>
    <div class="drag-handle" cdkDragHandle (mousedown)="setDraggable(true)" (mouseleave)="setDraggable(false)" [ngStyle]="{'color': item.moveMarkColor}">
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div>
  <div class="row-2" *ngIf="(item.isMenuOpen == true || item.resMenu == 3)">
    <button class="btn-move btn-left-round" (click)="upOneHandler()">↑</button>
    <button class="btn-move btn-right-round" (click)="downOneHandler()">↓</button>
    <label class="radio-container" *ngFor="let sizeItem of resSizeList">
      <input type="radio" name="res-font-{{tabIndex}}-{{resIndex}}" [(ngModel)]="item.resFontSize"
             value="{{sizeItem.value}}" (change)="sizeChangeHandler()">{{sizeItem.name}}
    </label>

    <label class="radio-container">
      <input type="radio" name="res-color-{{tabIndex}}-{{resIndex}}"
             [(ngModel)]="item.resColor" [checked]=true (change)="colorChangeHandler()" value="#f00">
      なし
    </label>
    <label class="radio-container" *ngFor="let colorItem of characterColors">
      <input type="radio" name="res-color-{{tabIndex}}-{{resIndex}}"
             [(ngModel)]="item.resColor" (change)="colorChangeHandler()" [value]="colorItem">
      <span [ngStyle]="{'background-color':colorItem}"></span>
    </label>

    <button class="btn-move btn-left-round" (click)="toTopHandler()">▲</button>
    <button class="btn-move btn-right-round" (click)="toBottomHandler()">▼</button>
  </div >
  <div class="row-3" *ngIf="(item.isMenuOpen == true || item.resMenu >= 2)">
    <div class="drag-handle" cdkDragHandle (mousedown)="setDraggable(true)" (mouseleave)="setDraggable(false)" [ngStyle]="{'color': item.moveMarkColor, 'margin':'0'}">
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
    </div>
    <button class="btn-tree-main btn-left-round" [ngStyle]="{'background-color':btnBackgroundColors.tree_sentaku_back}"
            (click)="treeSelectHandler(1)">T選択</button>
    <button class="btn-tree-candi1" [ngStyle]="{'background-color':btnBackgroundColors.tree_yobi_sentaku1}"
            (click)="treeSelectHandler(2)">T1</button>
    <button class="btn-tree-candi2" [ngStyle]="{'background-color':btnBackgroundColors.tree_yobi_sentaku2}"
            (click)="treeSelectHandler(3)">T2</button>
    <button class="btn-cancel-tree" [ngStyle]="{'background-color':btnBackgroundColors.tree_kaijo_back}"
            (click)="treeSelectHandler(0)">T解除</button>
    <button class="btn-catch-id1" [ngStyle]="{'background-color':btnBackgroundColors.id_sentaku1}"
            (click)="catchIdHandler(1)">ID選択1</button>
    <button class="btn-catch-id2" [ngStyle]="{'background-color':btnBackgroundColors.id_sentaku2}"
            (click)="catchIdHandler(2)">ID選択2</button>
    <button class="btn-catch-id3" [ngStyle]="{'background-color':btnBackgroundColors.id_sentaku3}"
            (click)="catchIdHandler(3)">ID選択3</button>
    <button class="btn-cancel-selected-id" [ngStyle]="{'background-color':btnBackgroundColors.id_kaijo_back}"
            (click)="cancelSelectedIdHandler()">ID解除</button>
    <button class="btn-cancel-only-catch-id" [ngStyle]="{'background-color':btnBackgroundColors.id_iro_delete}"
            (click)="cancelOnlyCatchIdHandler()">ID色消</button>
    <button class="btn-cancel-select-and-catch-id" [ngStyle]="{'background-color':btnBackgroundColors.id_kaijo_iro_delete}"
            (click)="cancelSelectAndCatchIdHandler()">ID解除＆ID色消</button>
    <button class="btn-hide-res" [ngStyle]="{'background-color':btnBackgroundColors.id_hihyouji}"
            (click)="hideHandler()">非表示</button>
    <button class="btn-copy-res" [ngStyle]="{'background-color':btnBackgroundColors.copy}"
            (click)="duplicateHandler()">複</button>
    <button class="btn-edit-text" [ngStyle]="{'background-color':btnBackgroundColors.edit}"
            (click)="editShowHandler()" >編集</button>
  </div>
  <div class="row-4" *ngIf="item.isEdit">
    <ckeditor class="row-4" [editor]="Editor"
              [config]="{toolbar: [], removePlugins: ['Image','ImageCaption','ImageStyle','ImageTextAlternative','ImageToolbar'] }"
              [(ngModel)]="resContent" >
    </ckeditor>
    <button class="btn-save btn-left-round" (click)="saveResHandler()">保存する</button>
    <button class="btn-cancel btn-right-round" (click)="cancelEditHandler()">キャンセル</button>
  </div>
  <div *ngIf="!item.isEdit" class="row-4" [innerHTML]="item.content | safeHtml" [ngStyle]="{'font-size': item.resFontSize, 'color': item.resColor}"> </div>

