  <div class="row-1">
    <h4 class="label-res-id-num">{{item.num}}</h4>
    <h4 class="label-res-cal1">({{item.idNum}}/{{item.idTotal}})</h4>
    <label class="radio-container">
      <input type="radio" name="res-select-{{tabIndex}}-{{resIndex}}"
             [(ngModel)]="item.resSelect" value="select" (click)="selectClickHandler()">選択</label>
    <label class="radio-container">
      <input type="radio" name="res-select-{{tabIndex}}-{{resIndex}}"
             [(ngModel)]="item.resSelect" value="candi1" (click)="candi1ClickHandler()">予1</label>
    <label class="radio-container">
      <input type="radio" name="res-select-{{tabIndex}}-{{resIndex}}"
             [(ngModel)]="item.resSelect" value="candi2" (click)="candi2ClickHandler()">予2</label>
    <h4 class="label-res-name">{{item.name}}</h4>
    <h4 class="res-date">{{item.date}}</h4>
    <h4 class="label-res-id">ID:</h4>
    <h4 class="res-id" [ngStyle]="{'background-color': item.idBackgroundColor}">{{item.id}}</h4>
    <h4 class="label-res-cal1">({{item.idNum}}/{{item.idTotal}})</h4>
    <div class="drag-handle" cdkDragHandle (mousedown)="setDraggable(true)" (mouseleave)="setDraggable(false)">
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div>
  <div class="row-2">
    <button class="btn-move" (click)="upOneHandler()">↑</button>
    <button class="btn-move" (click)="downOneHandler()">↓</button>
    <label class="radio-container" *ngFor="let sizeItem of resSizeList">
      <input type="radio" name="res-font-{{tabIndex}}-{{resIndex}}" [(ngModel)]="item.resFontSize"
             value="{{sizeItem.value}}" (change)="sizeChangeHandler()">{{sizeItem.name}}
    </label>

    <label class="radio-container">
      <input type="radio" name="res-color-{{tabIndex}}-{{resIndex}}"
             [(ngModel)]="item.resColor" [checked]=true (change)="colorChangeHandler()" value="#f00">
      なし
    </label>
    <label class="radio-container" *ngFor="let colorItem of characterColors">
      <input type="radio" name="res-color-{{tabIndex}}-{{resIndex}}"
             [(ngModel)]="item.resColor" (change)="colorChangeHandler()" [value]="colorItem">
      <span [ngStyle]="{'background-color':colorItem}"></span>
    </label>

    <button class="btn-move" (click)="toTopHandler()">▲</button>
    <button class="btn-move" (click)="toBottomHandler()">▼</button>
  </div >
  <div class="row-3">
    <button class="tree btn-tree-main" (click)="treeSelectHandler(1)">T選択</button>
    <button class="tree btn-tree-candi1" (click)="treeSelectHandler(2)">T1</button>
    <button class="tree btn-tree-candi2" (click)="treeSelectHandler(3)">T2</button>
    <button class="btn-cancel-tree" (click)="treeSelectHandler(0)">T解除</button>
    <button class="btn-white btn-catch-id1" (click)="catchIdHandler(1)">ID選択1</button>
    <button class="btn-white btn-catch-id2" (click)="catchIdHandler(2)">ID選択2</button>
    <button class="btn-white btn-catch-id3" (click)="catchIdHandler(3)">ID選択3</button>
    <button class="btn-cancel-selected-id" (click)="cancelSelectedIdHandler()">ID解除</button>
    <button class="btn-cancel-only-catch-id" (click)="cancelOnlyCatchIdHandler()">ID色消</button>
    <button class="btn-cancel-select-and-catch-id" (click)="cancelSelectAndCatchIdHandler()">ID解除＆ID色消</button>
    <button class="btn-white btn-hide-res" (click)="hideHandler()">非表示</button>
    <button class="btn-white btn-copy-res" (click)="duplicateHandler()">複</button>
    <button class="btn-white btn-edit-text" (click)="editShowHandler()" >編集</button>
  </div>
  <div class="row-4" *ngIf="isEdit">
    <ckeditor class="row-4" [editor]="Editor"
              [config]="{toolbar: [], removePlugins: ['Image','ImageCaption','ImageStyle','ImageTextAlternative','ImageToolbar'] }"
              [(ngModel)]="resContent" >
    </ckeditor>
    <button class="btn-save" (click)="saveResHandler()">保存する</button>
    <button class="btn-cancel" (click)="cancelEditHandler()">キャンセル</button>
  </div>
  <div *ngIf="!isEdit" class="row-4" [innerHTML]="item.content" [ngStyle]="{'font-size': item.resFontSize, 'color': item.resColor}"> </div>

