<!--<button id="btn-plus" (click)="addTab()" class="add-tab">+</button>-->

<tabset #tabGroup dndDropzone (dndDragover)="onDragover($event)">
  <tab *ngFor="let tabItem of tabs; let index = index;"

       [active]="tabItem.active"
       (selectTab)="tabChangedHandler(index)"
       (deselect)="tabItem.active = false"
      >
    <ng-template tabHeading>
      <div data-id="{{index}}"
           class="tab-header"
           [ngStyle]="{'width': this.tabWidth}"
           [dndDraggable]="draggable.data"
           [dndEffectAllowed]="draggable.effectAllowed"
           [dndDisableIf]="draggable.disable"
           (dndMoved)="onDraggableMoved($event)"
           (dndEnd)="onDragEnd($event)">
			{{tabItem.title}}
      </div>
    </ng-template>
  <app-content [resList]="tabItem.resList"
               [tabName]="tabItem.title"
               [txtURL]="tabItem.url"
               [characterColors] = "settings.characterColors"
               [backgroundColors] = "backgroundColors"
               [hovergroundColors] = "hovergroundColors"
               [leftBorder] = "leftBorder"
               [topBorder] = "topBorder"
               [idStyles] = "idStyles"
               [hitColor] = "hitColor"
               [idRed] = "idRed"
               [noticeCount] = "noticeCount"
               [shuturyoku] = "shuturyoku"
               [twitter] = "twitter"
               [youtube] = "youtube"
               [resMouseClick] = "resMouseClick"
               [subHotKeys] = "subHotKeys"
               [btnBackgroundColors] ="btnBackgroundColors"
               [leftHightlight] = "leftHightlight"
               [moveOption] = "moveOption"
               (filteredEmitter)="filteredHandler(index,$event)"
               (searchStatusEmitter)="changeSearchStatus($event)"
               [resSizeList] = "resSizeList"
               [searchKeyword] = "searchKeyword"
               [searchOption] = "searchOption"
               [tabIndex]="index">
  </app-content>
  <app-status [tabIndex]="index"></app-status>
  </tab>
</tabset>
<p id='preview'><img class='popup-image' src='' alt='Image preview' /></p>
