
:host{
  .filtered-tab{
    color: red;
  }

  .d-initial{
    display: initial;
  }

  .tab-content{
    position: relative;
    width: 1358px;
  }

  .tab-content>.tab-pane {
    display: inherit;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: white;
  }

  .tab-content>.active{
    display: inline-block;
    z-index: 2;
    width: 100%;
  }
}
