<button id="btn-plus" (click)="addTab()" class="add-tab">+</button>
<mat-tab-group [(selectedIndex)]="selectedTabIndex" animationDuration="0ms" (selectedTabChange)="tabChangedHandler($event);" disableRipple>
  <mat-tab *ngFor="let tab of tabs; let index = index;" >
    <ng-template mat-tab-label>
      <div [ngStyle]="{'width':tabWidth}" [ngClass]="{'filtered-tab':isFiltered[index],'col':true}">{{tab}}</div>
      <button mat-icon-button [disabled]="tabs.length === 1" (click)="removeTab(index)" class="close-tab">
        <mat-icon>close</mat-icon>
      </button>
    </ng-template>
<!--  <app-header ></app-header>-->
  <app-content [resList]="resLists[index]"
               [tabName]="tab"
               [characterColors] = "settings.characterColors"
               [hoveredColor] = "settings.Mouseover"
               [backgroundColors] = "backgroundColors"
               [leftBorder] = "leftBorder"
               [idStyles] = "idStyles"
               [hitColor] = "hitColor"
               [idRed] = "idRed"
               [noticeCount] ="noticeCount"
               [subHotKeys] = "subHotKeys"
               (filteredEmitter)="filteredHandler(index,$event)"
               [resSizeList] = "resSizeList"
               [tabIndex]="index">
  </app-content>
  <app-status [tabIndex]="index"></app-status>
  </mat-tab>
</mat-tab-group>

<p id='preview'><img class='popup-image' src='' alt='Image preview' /></p>
