.hidden-ids-container{
  display: block;
  width: 100%;
}
.hidden-ids-container button.btn-show-id{
  height: 20px;
  width: fit-content;
  padding: 0 4px;
  margin: 0 2px 0 0;
}

label.full-width{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
}

:host{
  .res-total, .res-count{
    &.colored{
      h3 {
        background-color: #ffe5cc;
      }
    }
  }

  .sure-specific{
    &.half-height{
      button{
        height: 28px;
      }
    }
  }

  .bottom-move-res{
    display: flex;
    button{
      margin: 0;
      width: 50%;
      height: 39px;
      &:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  .load-default-files{
    background-color: #78dfff;
    height: 48px;
  }

}
