:host{
  .total-status{
    .status{

    }
  }
  .btn-all-unselect{
    width: 188px;
    background: #c8c86e;
  }

  .btn-long{
    //min-width: 100px;
    width: 15%;
  }
  .colored{
    h3 {
      background-color: #ffe5cc;
    }
  }

  .toggle-select {
      margin: 0 0 0 2px;
      background-color: #fff;
      border: 1px solid #0366b6;
      &.active{
        background-color: #0366b6;
        color: #fff;
      }
  }
  .row-1{
    .status-label-content{
      width: calc(100% - 190px);
    }
  }
}
