:host{
  .total-status{
    .status{

    }
  }
  .btn-all-unselect{
    width: 194px;
    background: #c8c86e;
  }

  .btn-long{
    min-width: 111px;
  }
  .colored{
    h3 {
      background-color: #ffe5cc;
    }
  }
}
