<div class="status-label-content">
<h3 class="status lbl-sts-main-of-total">{{selectCount}}/{{totalCount}}</h3>
<h3 class="status">{{candi1Count}}</h3>
<h3 class="status">{{candi2Count}}</h3>
<h3 class="status">{{candi3Count}}</h3>
<h3 class="status">{{candi4Count}}</h3>
  <div class="status-title">
    {{tabTitle}}
  </div>
</div>
<div style="display: flex;">
<button class="btn-print-all-tag border-round" (click)="printAllHtmlTagHandler()">全タブの出力</button>
<button class="btn-print-html-tag border-round" (click)="printHtmlTagHandler()">出力</button>
</div>
