
  <h3>{{tabName}}</h3>
  <div class="content-url">
    <label>URL</label>
    <input type="text">
  </div>
<!--  <cdk-virtual-scroll-viewport itemSize="50" class="res-content"  #resListContainer-->
<!--                               cdkDropList [cdkDropListData]="resList"-->
<!--                               (cdkDropListDropped)="drop($event)">  -->
    <cdk-virtual-scroll-viewport itemSize="50" class="res-content" #resListContainer>
  <div cdkDropList (cdkDropListDropped)="drop($event)" >
    <app-res [item]="resItem" [resIndex]="index"
             [ngStyle]="{'background-color':hovered !== index ? resItem.resBackgroundColor: getHoverColor(resItem.resBackgroundColor)}"
             (duplicateResEmitter)="duplicateRes(index)"
             (hideResEmitter)="hideRes(resItem.id)"
             (upResEmitter)="upRes(index)"
             (downResEmitter)="downRes(index)"
             (toTopResEmitter)="toTopRes(index)"
             (toBottomResEmitter)="toBottomRes(index)"
             (selectedResEmitter)="selectedRes(index, $event)"
             (selectedIdEmitter) = "selectedId(resItem.id, $event)"
             (selectedTreeResEmitter) = "selectedTreeRes(index, $event)"
             [tabIndex]="tabIndex" [ngClass]="{'anchor-res': resItem.isAdded,'hide-res':!resItem.show}"
             (mouseenter)="mouseEnterHandler(index)"
             (mouseleave)="mouseLeaveHandler()"
             *cdkVirtualFor="let resItem of resList; let index = index;" cdkDrag
             (cdkDragStarted)="dragStarted($event, index)">
    </app-res>
  </div>
  </cdk-virtual-scroll-viewport>


