<div class="extract">
  <mat-button-toggle-group name="search-text" [(ngModel)]="searchOption" (change)="tglSearchChangeHandler()">
    <mat-button-toggle value="num" class="btn-left-round">no</mat-button-toggle>
    <mat-button-toggle value="all" class="toggle-all">本文+名前+ID</mat-button-toggle>
    <mat-button-toggle value="context" class="btn-right-round toggle-context">本文</mat-button-toggle>

  </mat-button-toggle-group>
  <button type="button" class="toggle-tree" [(ngModel)]="isTreeSearch" (focusin)="btnTreeSearchFocusInHandler()"
          btnCheckbox #btnTreeSearch>ツリー
  </button>

  <input type="text" [(ngModel)]="searchKeyword" #txtSearch
         [typeahead]="searchList"
         [typeaheadMinLength]="0"
         [typeaheadIsFirstItemActive]="false"
         [typeaheadScrollable]="true"
         [typeaheadOptionsInScrollableView]="15"
         [typeaheadOptionsLimit]="searchWordMax"
         (typeaheadOnSelect)="txtSearchSelectHander($event)"
         (keydown)="txtSearchKeyPressHandler($event)"
         (keyup)="txtSearchKeyUpHandler($event)"
         (ngModelChange)="txtSearchChangeHandler($event)">
  <button type="button" class="btn-short yellow" (click)="btnImageSearchHandler()" tabindex="-1">画像</button>
  <button type="button" class="btn-long font-weight-bold light-green" [ngClass]="{'searched': isSearched, 'search-checked': isSearchChecked }"
          (click)="btnAbstractAndCancelHandler()" (focusin)="btnSearchFocusInHandler()" #btnSearch>
    抽出/抽出解除
  </button>
  <button type="button" class="btn-long font-weight-bold light-green" (click)="btnSearchAllHandler()">全タブ抽出</button>
  <button class="btn-long light-green font-weight-bold" (click)="btnSearchAllChangeHandler()">全タブ抽出解除</button>
  <mat-button-toggle-group name="btn-notice" [multiple]="true">
    <mat-button-toggle class="btn-long border-round" (change)="btnNoticeChangeHandler()" #btnNotice>注目レス
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button type="button" class="btn-long toggle-select" [(ngModel)]="isSelectRes" btnCheckbox
          (click)="btnShowSelectHandler()">選択レス表示
  </button>
</div>
<div class="content-url">
  <h3 class="status lbl-sts-main-of-total">{{selectCount}}/{{resList.length}}</h3>
  <h3 class="status">{{candi1Count}}</h3>
  <h3 class="status">{{candi2Count}}</h3>
  <h3 class="status">{{candi3Count}}</h3>
  <h3 class="status">{{candi4Count}}</h3>
  <label><input type="radio" name="selectAll-{{tabIndex}}" [(ngModel)]="selectCommandWithHeader" value="select"
                (click)="selectAllChangeHandler()">選択＿＿＿</label>
  <button class="btn-short" [ngStyle]="{'width': '100px'}" (click)="btnAllSelHeaderClickHandler()">実行</button>
  <button class="btn-print-all-tag border-round" (click)="printAllHtmlTagHandler()">全タブ出力</button>
  <button class="btn-print-html-tag border-round" (click)="printHtmlTagHandler()">出力</button>
  <label><input type="radio" name="selectAll-{{tabIndex}}" [(ngModel)]="selectCommandWithHeader" value="select"
                (click)="selectAllChangeHandler()">選択＿＿＿</label>
  <button class="btn-short" [ngStyle]="{'width': '100px'}" (click)="btnAllSelHeaderClickHandler()">実行</button>
  <button type="button" class="btn-short light-green" (click)="btnAbstractHandler()" (focusin)="btnSearchFocusInHandler()" #btnSearch>
    抽出
  </button>
  <button class="btn-middle" (click)="btnCancelAbstractHandler()">抽出解除
  </button>
  <label>URL</label>
  <input type="text" [(ngModel)]="txtURL" (ngModelChange)="txtUrlChangeHandler()">
</div>
<h3 #tabTitle>{{tabName}}</h3>
<div *ngIf="suffixNumber?.length>0">
  <div *ngIf="titleUrl.suretai_url?.length>0">
    <a href="{{titleUrl.suretai_url}}{{suffixNumber}}" class="light-blue">{{titleUrl.suretai_url}}{{suffixNumber}}</a>
  </div>
  <div *ngIf="titleUrl.suretai_url2?.length>0">
    <a href="{{titleUrl.suretai_url2}}{{suffixNumber}}" class="light-blue">{{titleUrl.suretai_url2}}{{suffixNumber}}</a>
  </div>
  <div *ngIf="titleUrl.suretai_url3?.length>0">
    <a href="{{titleUrl.suretai_url3}}{{suffixNumber}}" class="light-blue">{{titleUrl.suretai_url3}}{{suffixNumber}}</a>
  </div>
</div>
<virtual-scroller class="res-content" #resListContainer [items]="resList"
                  (vsUpdate)="vsResContainerUpdateHandler($event)" [bufferAmount]="50"
                  cdkDropList (cdkDropListDropped)="resDropHandler($event)" [scrollAnimationTime]=0
                  [enableUnequalChildrenSizes]="true"
                  [ngStyle]="{'height': 'calc(100vh - ' + (tabTitle.offsetHeight + (suffixNumber?.length > 0 ? 263 : 204)) + 'px)'}">
<!--  (selectedTreeResEmitter)="selectedTreeRes(resList.indexOf(resItem), $event)"-->
  <app-res [item]="resItem" [resIndex]="resList.indexOf((resItem))"
           [ngStyle]="{'background-color':hovered !== (resList.indexOf(resItem)) ? resItem.resBackgroundColor: getHoverColor(resItem.resBackgroundColor),
               'border-left': resItem.isAdded ? leftBorder : '', 'width': 'calc(100% - '+ (resItem.anchorLevel*resLeftMargin) +'px)',
               'margin-left.px': resItem.isAdded ? (resItem.anchorLevel*resLeftMargin) : '',
               'border-top': resItem.isRemark ? topBorder : resTopBar}"
           (duplicateResEmitter)="duplicateRes(resItem)"
           (deleteResEmitter)="deleteRes(resItem)"
           (hideResEmitter)="hideRes(resItem.id)"
           (upResEmitter)="moveUpRes(resItem)"
           (downResEmitter)="moveDownRes(resItem)"
           (toTopResEmitter)="moveResToTop(resItem)"
           (toBottomResEmitter)="moveResToBottom(resItem)"
           (selectedResEmitter)="selectedRes(resItem, $event)"
           (cancelSelectedIdEmitter)="cancelSelectedIdRes(resItem.id, $event)"
           (selectedIdEmitter)="selectedId(resItem.id, $event)"
           (selectedTreeResEmitter)="selectedTreeRes(resList.indexOf(resItem), $event)"
           (setDraggableEmitter)="setDraggable(resList.indexOf(resItem), $event)"
           (selectedNumEmitter)="selectedNum(resItem)"
           (cancelAllStatusEmitter)="cancelAllStatus(resItem)"
           (insertResEmitter)="insertRes(resItem)"
           [tabIndex]="tabIndex"
           [ngClass]="{'hide-res':!resItem.isShow}"
           (mouseenter)="mouseEnterHandler(resItem)"
           (mouseleave)="mouseLeaveHandler()"
           (click)="mouseClickHandler()"
           *ngFor="let resItem of resListContainer.viewPortItems; let index = index ;"
           [characterColors]='characterColors'
           [backgroundColors]='backgroundColors'
           [resMouseClick]="resMouseClick"
           [idStyles]="idStyles"
           [idRed]="idRed"
           [noticeCount]="noticeCount"
           [resSizeList]="resSizeList"
           [txtRemarkRes]="txtRemarkRes"
           [btnBackgroundColors]="btnBackgroundColors"
           [leftHightlight]="leftHightlight"
           [imageWidth]="imageWidth"
           [cancelAllColor]="cancelAllColor"
           (cdkDragStarted)="resDragStartedHandler($event, resItem)"
           [cdkDragDisabled]="getDraggable(resList.indexOf(resItem))"
           cdkDragLockAxis="y" cdkDrag #resViews>
  </app-res>

</virtual-scroller>
<app-status
  (abstractAndCancelEmitter)="btnAbstractAndCancelHandler()"
  (searchAllEmitter)="btnSearchAllHandler()"
  (searchAllCancelEmitter)="btnSearchAllChangeHandler()"
  (noticeChangeEmitter)="btnBottomNoticeChange($event)"
  (showSelectEmitter)="btnBottomShowSelectHandler($event)"
  [allTabCount]="allTabCount"
  [tabInfo]="{
      tabTitle: tabName,
      selectCount: selectCount,
      candi1Count: candi1Count,
      candi2Count: candi2Count,
      candi3Count: candi3Count,
      candi4Count: candi4Count,
      isSearched: isSearched,
      isSearchChecked: isSearchChecked,
      isSelectRes: isSelectRes,
      isNotice: btnNotice.checked,
      totalCount: resList.length}">
</app-status>
