<h3>{{tabName}}</h3>
<div class="content-url">
  <label>URL</label>
  <input type="text">
</div>
<!--[enableUnequalChildrenSizes]="true" [bufferAmount]="5"-->
<virtual-scroller class="res-content" #resListContainer [items]="resList" (vsUpdate)="usUpdateHandler($event)"
                  cdkDropList (cdkDropListDropped)="drop($event)" [scrollAnimationTime] = 0 [enableUnequalChildrenSizes]="true">
    <app-res [item]="resItem" [resIndex]="index + resListContainer.viewPortInfo.startIndex - 5"
             [ngStyle]="{'background-color':hovered !== (index + resListContainer.viewPortInfo.startIndex) ? resItem.resBackgroundColor: getHoverColor(resItem.resBackgroundColor),
             'border-left': resItem.isAdded ? leftBorder : ''}"
             (duplicateResEmitter)="duplicateRes(index + resListContainer.viewPortInfo.startIndex -5)"
             (hideResEmitter)="hideRes(resItem.id)"
             (upResEmitter)="upRes(index + resListContainer.viewPortInfo.startIndex - 5)"
             (downResEmitter)="downRes(index + resListContainer.viewPortInfo.startIndex - 5)"
             (toTopResEmitter)="toTopRes(index + resListContainer.viewPortInfo.startIndex - 5)"
             (toBottomResEmitter)="toBottomRes(index + resListContainer.viewPortInfo.startIndex - 5)"
             (selectedResEmitter)="selectedRes(index + resListContainer.viewPortInfo.startIndex - 5, $event)"
             (selectedIdEmitter)="selectedId(resItem.id, $event)"
             (selectedTreeResEmitter)="selectedTreeRes(index + resListContainer.viewPortInfo.startIndex - 5, $event)"
             (setDraggableEmitter)="setDraggable(index + resListContainer.viewPortInfo.startIndex - 5, $event)"
             [tabIndex]="tabIndex"
             [ngClass]="{'anchor-res': resItem.isAdded,'hide-res':!resItem.show}"
             (mouseenter)="mouseEnterHandler(index + resListContainer.viewPortInfo.startIndex - 5)"
             (mouseleave)="mouseLeaveHandler()"
             *ngFor="let resItem of resListContainer.viewPortItems; let index = index ;"
             [characterColors] = 'characterColors'
             [backgroundColors] = 'backgroundColors'
             [idStyles] = "idStyles"
             [resSizeList] = "resSizeList"
             (cdkDragStarted)="dragStarted($event, index + resListContainer.viewPortInfo.startIndex - 5)"
             [cdkDragDisabled]="getDraggable(index + resListContainer.viewPortInfo.startIndex - 5)" cdkDrag>

    </app-res>
</virtual-scroller>
