
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Mtmex-primary: mat-palette($mat-indigo);
$Mtmex-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Mtmex-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Mtmex-theme: mat-light-theme($Mtmex-primary, $Mtmex-accent, $Mtmex-warn);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Mtmex-theme);

.mat-ink-bar{
  display: none;
}
.mat-tab-label {
  //width: 150px;
  height: 29px !important;
  background-color: #e1e1e1;
  text-align: left !important;
  min-width: unset !important;
  border: 1px solid;
  margin: 0 1px;
  padding: 0 5px !important;
  .mat-tab-label-content{
    width: 100%;
    justify-content: space-between !important;
  }
  .close-tab{
    border: 0;
    background: transparent;
    &:hover{
      border: 0;
    }
  }
}
.mat-tab-label.mat-tab-label-active{
  background: #ffa500;
}
.mat-tab-label.mat-tab-disabled{
  width: 29px;
  background: transparent;
  padding: 0 !important;
  border: 0;
  button{
    width: 29px;
    height: 29px;
    background: #fff;
  }
}
.mat-tab-header{
  left: 30px;
  width: calc(100% - 31px);
}
.mat-button-toggle-button{
  width: 29px;
  height: 29px;
  border: none;
}
tabset{
  .nav{
    height: 30px;
    margin-left: 31px;
    .nav-item{
      height: 30px;
      .nav-link{
        padding: 4px;
      }
    }
  }
}
.main-container{
  app-left-panel{
    app-content{
      .mat-button-toggle-button{
        min-width: 29px;
        height: 29px;
        background-color: white;
        border: 1px solid #0366b6;
      }
      .mat-button-toggle-appearance-standard{
        .mat-button-toggle-label-content{
          padding: 0;
          line-height: 1em;
        }
      }
      .mat-button-toggle-standalone{
        overflow: unset;
      }
      .mat-button-toggle-group{
        overflow: unset;
      }
      .mat-button-toggle-group-appearance-standard{
        border: 0;
        margin-right: -1px;
      }
      .mat-button-toggle-checked{
        button{
          background: #0366b6;
          border: 1px solid #0366b6;
          color: white;
          &:focus{
            border: 1px solid #0366b6;
          }
          &:hover{
            border: 1px solid #0366b6;
          }
        }
      }
    }

  }
}
